<header class="header">
    <img src="{{ 'assets/images/logo.png' | relative_url }}" class="logo" />
    <nav class="nav">
        <a class="nav__item" href="{{ '/' | relative_url }}">
            Home
        </a>
        <a class="nav__item" href="{{ 'pages/guides' | relative_url }}">
            Guides
        </a>
        <a class="nav__item" href="{{ 'pages/plugins' | relative_url }}">
            Plugins
        </a>
        <a class="nav__item" href="{{ 'pages/components' | relative_url }}">
            Components
        </a>
        <a class="nav__item" href="">
            Blog
        </a>
    </nav>
</header>